<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/auth.css" />
  </head>
  <body class="text-center">
    <form action="/create/collection" method="POST" class="form-signin">
      <img src="/images/collection-page.png" class="mb-4" width="178" />
      <h1 class="h1 mb-3 font-weight-bold">collection.</h1>
      <h1 class="h4 mb-3 font-weight-normal">
        a group that contains similar items
      </h1>
      <label for="Name" class="sr-only">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        placeholder="name"
        required
      />
      <label for="description" class="sr-only">Description</label>
      <textarea
        maxlength="255"
        type="text"
        id="description"
        name="description"
        placeholder="description"
        class="form-control mb-3"
        required
      ></textarea>
      <button type="submit" class="btn btn-lg btn-login btn-block">
        create
      </button>
      <a href="/create" class="btn btn-lg btn-register btn-block">back</a>
    </form>
  </body>
</html>
